.is-root-container.wp-site-blocks {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;

  >footer {
    margin-block-start: auto;
  }
}

a {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-thickness: .0625em;
  text-underline-offset: .2em;

  &:hover {
    text-decoration-style: solid;
  }
}